body {
    background-image: url(../images/wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: #333;
}

.content-box {
    opacity: 0.8;
}

h1 {
    background: -webkit-linear-gradient(#ff8c00, #ffff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Great Vibes', cursive;
    font-size: 5em;
    margin-top: 0.3em;
    margin-bottom: 0.1em;
}

.game {
    margin-bottom: 1em;
}

#win-image {
    padding-top: 10%;
    padding-bottom: 20%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    width: 350px;
}

#win-text {
    color: black;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    margin-top: 0.5em;
}